@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --primary-color: #52AB40;
  --secondary-color: #000000;
  --accent-color: #F3FCF1;
  --background-color: #ffffff;
}

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */
/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */